@charset "UTF-8";

@test-blue: #5664b5;
@main-yellow: #f5e30d;
@confirm-green: #1affaf;

@font-face
{
    font-family: "noto sans";
    src: url("fonts/NotoSansCJKjp-Regular.woff2");
    font-weight: 400;
}

@font-face
{
    font-family: "noto sans";
    src: url("fonts/NotoSansCJKjp-Medium.woff2");
    font-weight: 500;
}

@font-face
{
    font-family: "noto sans";
    src: url("fonts/NotoSansCJKjp-Bold.woff2");
    font-weight: 600;
}

html
{
    height: 100%;
    --main-colour: @test-blue;
}

body
{
    height: 100%;
    margin: 0;
    background-color: var(--main-colour);
    font-family: "noto sans";
    font-size: 0;
    color: white;
}

p
{
    margin: 0;
    padding: 0;
    line-height: 25px;
}

a
{
    color: white;
    text-decoration: none;
    opacity: 1;

    &:hover
    {
        opacity: .7;
        transition: opacity .2s;
    }
}

//main top flex container
.wrap
{
    display: flex;
    height: 100%;
}

//show holders container
.show-holder-holders
{
    height: 100%;
    flex: 1;
    overflow: auto;
    cursor: -webkit-grab;

    &:active
    {
        cursor: -webkit-grabbing;
    }

    //top title thing
    .chart-title
    {
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        padding: 20px 0 0 85px;

        span
        {
            color: @main-yellow;
        }
    }

    //container so screenshot works
    .show-hold-middle
    {
        background-color: var(--main-colour);
        border-right: 1px dashed white;

        //hide the right guide border
        &.no-border
        {
            border: none;
        }
    }
}

//outside menubar container
.menubar
{
    width: 320px;

    .inactive
    {
        display: none;
    }
}

//holder for shows with bracket things
.show-holder
{
    display: flex;
    padding: 20px 0 20px 0;

    .holder-type
    {
        width: 60px;
        font-size: 14px;
        align-self: center;
        text-align: center;
        transform: rotate(-90deg);
    }

    .bracket
    {
        width: 10px;
        border: 1px solid white;
        border-right: none;
        flex: 0 10px;
    }

    .actual-shows
    {
        flex: 1;
    }
}

//a show entry
.show
{
    display: inline-block;
    width: 230px;
    text-align: right;
    vertical-align: top;
    margin: 15px;
    font-weight: 500;
    @main-small-font-size: 10px;

    img
    {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    .title
    {
        &:extend(p);
        display: inline-block;
        width: 100%;
        font-size: 25px;
        margin: 10px 0 10px 0;
    }

    //tag container
    .tags
    {
        width: 100%;

        //a tag
        span
        {
            display: inline-block;
            font-size: @main-small-font-size;
            color: var(--main-colour);
            background-color: white;
            padding: 0 10px 0 10px;
            border-radius: 20px;
            margin: 0 0 4px 4px;

            //special wider yellow single liner tag
            &.type
            {
                display: block;
                width: 100px;
                padding: 0;
                text-align: center;
                background-color: #f5e03e;
                margin-left: auto;
            }
        }
    }

    //remove link button
    .control-link
    {
        display: inline-block;
        font-size: @main-small-font-size;
        font-weight: 400;
        font-style: italic;
        text-decoration: underline;
        cursor: pointer;
        opacity: .7;

        &:hover
        {
            opacity: .5;
        }
    }

    //date at the bottom
    .date
    {
        font-size: @main-small-font-size;
    }
}

//main holder for menu elements
.menu-block
{
    padding: 10px 0 10px 0;

    .left-text
    {
        display: inline-block;
        width: 106px;
        font-size: 18px;
        text-align: right;
        margin-right: 25px;

        &.top
        {
            vertical-align: top;
        }
    }

    span.right-text
    {
        font-size: 18px;
        margin-left: 10px;
    }

    //special height text element
    span.height-text
    {
        &:extend(.menu-block span.right-text);

        display: inline-flex;
        width: 106px; //calculated to put img box in relatively centre position
        height: 183px; //calculated to be same height as img box
        line-height: 1;
        vertical-align: top;
        text-align: center;
        word-break: break-word;
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin: 0;
        box-sizing: border-box;
    }

    //for larger top margin
    &.double-top
    {
        padding-top: 20px;
    }

    &.no-top
    {
        padding-top: 0;
    }

    //for the image in a menublock being used as the top logo
    img.logo
    {
        display: block;
        margin: auto;
    }
}

//a white textbox
.white-textbox
{
    height: 45px;
    width: 120px;
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: var(--main-colour);

    //smaller number input for width adjust
    &.width-box
    {
        width: 90px;
        margin-left: 5px;
    }
}

//a multi select element
.white-multiselect
{
    display: inline-block;

    span
    {
        font-size: 20px;
        padding: 8px 9px 9px 9px;
        border-radius: 100%;
        cursor: pointer;

        &.selected
        {
            background-color: white;
            color: var(--main-colour);
            transition: background-color .4s,color .4s;

            &:hover
            {
                color: var(--main-colour);
            }
        }

        &:hover
        {
            color: @main-yellow;
        }
    }

    //special class modifier for a wider, multiline select thing
    &.multi-line-wide
    {
        width: 150px;
        text-align: center;
        line-height: 25px;
    }

    //give pill class for pill shaped selection options
    &.pill
    {
        span
        {
            border-radius: 30px;
        }
    }
}

//a menu button
.white-button
{
    display: inline-block;
    width: 140px;
    padding: 5px 0 5px 0;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    font-size: 16px;
    color: var(--main-colour);
    text-decoration: none;
    cursor: pointer;

    &:hover
    {
        opacity: .7;
    }

    &.green
    {
        background-color: @confirm-green;
        color: white;
    }

    &.thin
    {
        padding: 0;
    }
}

//image output div
.img-out
{
    display: inline-block;
    width: 175px;
    height: 175px;
    border: 4px dotted white;
}